<div class="card-group p-2 md-1 mt-1">
  <div class="card">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <div class="boxgrey card-img-top"></div>
    <div class="card-body">
      <h5 class="card-title">{{curso.nome}}</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">{{curso.cargahoraria}}</small></p>
    </div>
  </div>
</div>
